<% include ../static/head.ejs %>
<div class="row">

	<div class="col-md-4">
		<h3>Créer un laboratoire</h3>
	</div>

	<div class="col-md-4">
		<h3>Associer un Dirlab</h3>
	</div>

	<div class="col-md-4">
		<h3>Associer un utilisateur à un lab</h3>
	</div>

</div>
<% include ../static/foot.ejs %>