<% include ../static/head.ejs %>
<div class="row">

	<div class="col-md-4">
		<h3>Créer un laboratoire</h3>
		<form>
			<input type="text" name="nom"/>
			<input type="submit" value="Ajouter"/>
		</form>
	</div>

	<div class="col-md-4">
		<h3>Associer un Dirlab</h3>
		<form>
			<input type="number" placeholder="Id User" name="user_id"/>
			<input type="number" placeholder="Id Labo" name="laboratoire_id"/>
			<input type="submit" value="Ajouter"/>
		</form>
	</div>

	<div class="col-md-4">
		<h3>Associer un utilisateur à un lab</h3>
		<form>
			<input type="number" name="user_id"/>
			<input type="number" name="laboratoire_id"/>
			<input type="submit" value="Ajouter"/>
		</form>
	</div>

</div>
<% include ../static/foot.ejs %>