<% include static/head.ejs %>
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="card-panel red accent-4">
				<span class="blue-text text-lighten-5"><%= message %></span>
			</div>
		</div>
	</div>
<% include static/foot.ejs %>