<!DOCTYPE html>
<html>
<head>
	<title>Reporting Tool</title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script type="text/javascript" src="/js/jquery-1.11.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
  <style type="text/css">
    .vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}
  </style>
</head>
<body>

  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo">Y-LabManagement</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/laboratoires">Laborantin</a></li>
          <li><a href="/dirlab">Dirlab</a></li>
          <li><a href="/logoff">Déconnexion</a></li>
        </ul>
      </div>
    </nav>
  </div>


