<% include static/head.ejs %>
<h1>Register</h1>

<form method="post" action>
	<input type="text" name="pseudo"/>
	<input type="email" name="mail"/>
	<input type="password" name="password"/>
	<input type="password" name="password_verif"/>
	<input type="submit" value="register !"/>
</form>
<% include static/foot.ejs %>
