<% include static/head.ejs %>
<div class="row">
</div>
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h1 class="panel-title">Y-LabManagementTool</h1>
		  </div>
		  <div class="panel-body">
		    <h4><u>FAQ</u></h4>
			
			<h5><u>Utilisateur</u></h5>
			<p>Les rapports ne s'effectuent que <u>du Mercredi au Vendredi</u></p>
			<p>Vous ne pouvez saisir qu'<u>une seule fois</u> votre rapport, ne vous plantez pas :) </p>
			<p>Vous avez accès à un panel d'infos pour connaitre vos statistiques</p>

			<h5><u>Directeurs de labos / Directeur de startup</u></h5>
			<p>Les dirlabs ont accès a une vue permettant de voir tout les rapports de la semaine</p>
			<p>Ces rapports sont visibles jusqu'au dimanche de la semaine de laboratoire</p>
			<p>La synthèse est ensuite à envoyer a Bastien Bourdin</p>

			<h5><u>Remarques</u></h5>
			<p>Ca marche pas ! C'est de la merde ! C'est tout pourri</p>
			<p>La critique est facile, si des choses ne vous plaisent pas envoyez vos remarques constructives a remi.martindeabia@ynov.com</p>
			<p>La plateforme évoluera au fil de l'année</p>
			<p>Pour info le code est disponible <a href="https://github.com/shoxxdj/MailLessReporting">ici</a> donc avant de vous défouler sur un mail haineux merci de faire un pull request avec vos modifications</p>

		  </div>
		</div>
	</div>
</div>

<% include static/foot.ejs %>